
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.title{
    font-size: 3rem;
    background: none;
    color: crimson;
    margin: 40px;
    text-align: center;
    border-bottom: none;
}


@media screen and(min-width: 700px) { 
    body{
        background-color: chocolate;
    }
} /*es el valor absoluto para la propiedad del ancho minimo*/


@media screen and (max-width: 600px) {
    .title{
        text-align: left;
        background: steelblue;
    } /*establece el ancho maximo de un elemento especifico*/
}


@media print {
    .title{
        color: steelblue;
        font-size: 5rem;
        text-align: right;
        font-family: cursive;
    }
} /*muestra los mensajes en la pantalla*/
